/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bill-input,
.people-input {
  @apply py-2 px-4 h-12 w-full rounded-sm bg-cyan-200 text-right focus:outline-none focus:border-2 focus:rounded-md focus:border-cyan placeholder-cyan-400;
}

.alert {
  @apply focus:border-red-500 !important;
}

.label {
  @apply block font-bold mb-1 text-cyan-500;
}

.tip-btn,
.tip-input {
  @apply rounded-md text-center text-white text-2xl;
}

.tip-btn {
  @apply block bg-cyan-600 font-bold py-1 hover:bg-cyan-350 hover:text-cyan-600 active:bg-cyan-350  active:text-cyan-600;
}

.tip-input {
  @apply bg-cyan-200  text-cyan-600 placeholder-cyan-500 focus:outline-none  focus:border-2 focus:rounded-md focus:border-cyan;
}
